<!DOCTYPE html>

<html>
  <head>
  <title>Personal Finance</title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <body>
    <div class="main-content">
    {{>header}}
      <canvas id="mychart"></canvas>
    <script src="/js/app.js"></script>
    </div>
     {{>footer}}
  </body>
</html>